{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
<!--	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">-->
{% endblock %}



{% block content %}
<div class="container center dark-grey ">
  <br><br>
  <div class="" style="padding:40px 16px 0px">
    <div class="bar card " style="padding:0px 110px">
      <h3 id="form-title">LOGIN</h3>
    </div>
  </div>
	<div class="container" style="padding:0px 16px 100px">
    <div class="bar card" style="padding:15px 40px">
      <form method="POST" action="" class="left">
        {% csrf_token %}
        <div class="">
          <div class="" >
            <h5 class="left mrg-b0">Email</h5>
          </div>
          {{ form.email }}
        </div>
        <div class="">
          <div class="">
            <h5 class="left mrg-b0">Password</h5>
          </div>
          {{ form.password }}
        </div>
      <br>
        <div class="margin-bottom">
          <input class="button red" type="submit" style="padding:5px 20px" value="Login">
        </div>
      </form>
      <div>
        <div>
          Don't have an account?<a href="{% url 'accounts:register' %}" class=""> SignUp</a>
        </div>
      </div>

		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
<!--	<script type="text/javascript" src="{% static 'accounts/js/register.js' %}"></script>-->
<!--	<script type="text/javascript" src="{% static 'accounts/js/script.js' %}"></script>-->
{% endblock %}
