{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/register.css' %}">
{% endblock %}

{% block content %}

<div class="container center dark-grey">
  <br><br>
  <div class="" style="padding:40px 16px 0px">
    <div class="bar card " style="padding:0px 28px">
      <h3 id="form-title">REGISTER ACCOUNT</h3>
    </div>
	<div class="container" style="padding:0px 16px 10px">
    <div class="bar card" style="padding:15px 40px">
      <form method="POST" action="" class="left">
        {% csrf_token %}
          <div>
            <div>
              <h5 class="left mrg-b0">Email</h5>
            </div>
            {{ form.email }}
          </div>
          <div>
            <div>
              <h5 class="left mrg-b0">Full Name</h5>
            </div>
            {{ form.full_name }}
          </div>
          <div>
            <div>
              <h5 class="left mrg-b0">Password</h5>
            </div>
            {{ form.password1 }}
          </div>
          <div>
            <div>
              <h5 class="left mrg-b0" >Confirm Password</h5>
            </div>
            {{ form.password2 }}
          </div>
        <br>
          <div class="margin-bottom">
            <input class="button red" type="submit" style="padding:5px 20px" value="Register Account">
          </div>
        </form>
        <br>
      <div>
        <div>
          Already have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Login</a>
        </div>
      </div>
	</div>

{% endblock %}

{% block custom_js %}
<!--	<script src="{% static 'accounts/js/register.js' %}"></script>-->
{% endblock %}
